*{
    text-align: center;
}
#mainTopic::first-letter{
    color: red;
}
#mainTopic{
    color: blue;
}

h1,h3,h5{
    font-family: Georgia;
}

.content{
    background-color: cornflowerblue;
    color: white;
}

button{
    background-color: purple;
    color: azure;
}

button:hover{
    background-color: yellow;
    color: blue;
}

p:nth-of-type(2n+1){
    color: yellow;
}

#yes:checked+label{
    color: darkgreen;
}